table {
    border-collapse: collapse;
    width: 1000px;

    thead > tr > th {
        background-color: gray;
        color: white;
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
    }

    .foot-materias > th, .foot-materias > td {
        background-color: gray;
        color: white;
        text-align: left;
    }
}