@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-image: url(images/01.png);
    background-size: cover;
}

body {
    background-color: rgba(0, 0, 0, 0.664);
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    font-size: 1.3rem;
    position: relative;
}

div {
    &#form_container {
        display: inline-block;
        width: 420px;
        height: auto;
        position: absolute;
        left: 50%;
        bottom: 50%;
        border-radius: 5%;
        transform: translate(-50%, 50%);
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.348);
        background-color: rgb(255, 255, 255);
        
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;

        fielset {
            margin: 10px;

            legend {
                font: bold 2rem 'Open Sans';
                text-align: center;
                margin-top: 5%;
            }

            & .user-senha {
                display: block;
                margin-top: 20px;
                justify-content: space-between;
                font: 400 0.8rem 'Open Sans', monospace;
                color: rgb(69, 69, 69);

            & .icon-placeholder {
                position: relative;

                i {
                    position: absolute;
                    top: 50%;
                    transform: translate(0%, -50%);
                    opacity: 0.8;
                }
            }

                &.user-senha > label {
                    margin-right: 20px;
                }

                &.user-senha > div > input {
                    border: none;
                    border-bottom: 1px solid rgb(92, 92, 92);
                    background-color: rgba(255, 255, 255, 0);
                    width: 200px;
                    padding: 10px 10px 10px 20px;
                    font-size: 0.8rem;
                }
            }

            & #forget-password {
                display: flex;
                justify-content: end;
                width: 100%;
            }

            a {
                text-decoration: none;
                font: 0.7rem 'Open Sans';
                margin-top: 5px;
                color: rgb(69, 69, 69);
            }

            & #login-button {
                border: none;
                width: 100%;
                margin-top: 10px;
                padding: 10px;
                background-image: linear-gradient(to right, #183055, #703e44, #260F15 );
                color: white;
                font-weight: bolder;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    p {
        text-align: center;
        font: lighter 0.7rem 'Open Sans';
    }

    div {
        &#redes-login {
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
        }

        & .facebook {
            background-color: rgb(105, 143, 255);
        }

        & .google {
            background-color: rgb(255, 133, 105);
        }

        & .twitter {
            background-color: rgb(105, 198, 255);
        }

        & .logo {
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.153);
        }
        
        &#redes-login > a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            margin: 5%;
            text-decoration: none;
            border-radius: 50%;

            img {
                width: 35px;
            }
        }
    }
}