table {
    border-collapse: collapse;
            
}

thead {
    background-color: rgb(139, 139, 139);
    color: white;
    position: sticky;
    top: 0%;
}

tbody {
    counter-reset: (contador);
}

tfoot {
    background-color: rgb(139, 139, 139);
    color: white;
}

tr {
    counter-increment: contador;
}

th, td {
    
    border: 1px solid black;
    padding: 10px;

}

tbody > tr:nth-child(2n) {
    background-color: rgb(208, 208, 208);

}

tbody > tr:hover {
    background-color: rgb(232, 255, 255);
}


td:first-child::before {
    content: counter(contador);
    display: table-cell;
    
    
}

#footer-table:first-child::before  {
    content: none;
}



