@charset "UTF-8";

* {
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100dvw;
    height: 100dvh;
    background: linear-gradient(to top left, #DC9C5D, #DC9C5D);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    section {
        position: relative;
        width: 400px;
        height: 400px;
        border-radius: 10px;
        overflow: hidden;
        background-color: white;

        header {
            position: absolute;
            left: 0;
            height: 100%;
            width: 60%;

            & #container-image {
                display: flex;
                align-items: center;
                justify-content: end;
                flex-direction: column;
                gap: 5px;
                width: 100%;
                height: 60%;

                & #border-image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;

                    & .circule-one {
                        position: absolute;
                        width: 108px;
                        height: 108px;
                        border-radius: 50%;
                        border-width: 1px;
                        border-style: solid;
                        border-top-color: var(--color-font-boder);
                        border-left-color: transparent;
                        border-bottom-color: var(--color-font-boder);
                        border-right-color: var(--color-font-boder);
                        transition: all 1.5s ease-in-out;

                    }

                    & .circule-two {
                        position: absolute;
                        width: 118px;
                        height: 118px;
                        border-radius: 50%;
                        border-width: 1px;
                        border-style: solid;
                        border-top-color: var(--color-font-boder);
                        border-left-color: var(--color-font-boder);
                        border-bottom-color: var(--color-font-boder);
                        border-right-color: transparent;
                        transition: all 1.5s ease-in-out;
                        
                    }

                    img {
                        border-radius: 50%;
                    }

                    &:hover {
                        cursor: pointer;
                        
                        .circule-one {
                            transform: rotate(-360deg);
                        }
                        
                        .circule-two {
                            transform: rotate(360deg);
                        }
                    }
                }

                h1 {
                    margin-top: 5px;
                    font-weight: bolder;
                    font-size: 1.2rem;
                    color: var(--color-font-boder);
                }

                p {
                    font-weight: lighter;
                    font-size: 0.85rem;
                    margin-bottom: 25px;
                }
            }

            & #container-buttons {
                display: flex;
                align-items: center;
                justify-content: start;
                flex-direction: column;
                width: 100%;
                height: 40%;
            }

            & #container-buttons > button {
                width: 150px;
                height: 35px;
                border: none;
                border-radius: 50px;
                border: 1px solid var(--color-font-boder);
                margin-top: 10px;
                cursor: pointer;
                color: var(--color-font-boder);
                font-weight: 600;
                background-color: transparent;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: var(--color-font-boder);
                    color: white;
                }
            }
        }

        & #container-info {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            right: 0;
            height: 100%;
            width: 40%;

            & .child-info {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 33%;
                cursor: pointer;
                background-color: #F5E8DF;
                transition: background-color 0.5s;

                & .number-child {
                    color: var(--color-font-boder);
                    font-weight: 600;
                    font-size: 1.3rem;
                }

                & .type-child {
                    color: var(--color-font-boder);
                    font-weight: lighter;
                    font-size: 0.7rem;
                }

                &:hover {
                    background-color: #E2D1C4;
                }
            }
        }
    }
}