@charset "UTF-8";

@import url(styles/style-background.css);

* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
}

div {
    &#form-container {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    form {
        &#form-login {
        position: relative;
        left: 20%;
        width: 35vw;
        min-width: 350px;
        aspect-ratio: 1/1;
        box-shadow: var(--shadow);
        overflow: auto; 
        scrollbar-width: none;
        background-color: white;

            legend {
                text-align: center;
                font: bolder 2rem var(--fontmain);
                padding: 5%;
            }
            
            & .pass > a {
                display: inline-block;
                margin-top: 5px;
                text-decoration: none;
                font-size: 0.9rem;
                color: black;
            }

            & .cointainer-input {
                position: relative;
                left: 5%;
                width: 100%;
                margin-top: 5%;

                &.cointainer-input > input {
                    margin-top: 10px;
                    padding: 10px;
                    width: 85%;
                    border-style: none;
                    border: 1px solid gray;
                    
                }
            }

            & #button-submit {
                margin-top: 5%;
                margin-left: 5%;
                border: none;
                padding: 20px;
                font: bolder 1rem var(--fontmain);
                color: white;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.193);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.133);
                background-color: var(--colorbutton);
                &:hover {
                    cursor: pointer;
                    background-color: var(--colorhover);
                }
            }

            p {
                margin-top: 5%;
                text-align: center;
            }

            & #redes-login {
                display: flex;
                justify-content: space-evenly;
                padding: 15px;
                margin-top: 5%;
            }

            & #redes-login > a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 5rem;
                width: 5rem;
                border-radius: 100%;
                box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.076);
                text-decoration: none;
                background-color: var(--colorredes);
                transition: transform 0.2s;
                &:hover {
                    transform: scale(1.1);
                    background-color: var(--colorredeshover);
                }
            }

            & #redes-login > a > i {
                color: #ffffff;
                font-size: 3.5rem;
            }
        }
    }

    div {
     &#form-container-back {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65vw;
        min-width: 600px;
        min-height: 300px;
        aspect-ratio: 2.2/1;
     }
     
     & #form-sing {
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.070);
        background-color: rgba(255, 255, 255, 0.765);

            & #fielset-sing {
            position: absolute;
            right: 0;
            width: 42.5%;
            height: 100%;
            border: none;

                & .container-input-back {
                    position: relative;
                    margin-bottom: 5%;
                }

                & .container-input-back > label {
                    display: block;
                    margin-bottom: 15px;
                    margin-right: 30px;
                    text-align: right;
                }

                & .container-input-back > input {
                    position: relative;
                    width: 85%;
                    left: 50px;
                    padding: 10px;
                    background-color: rgba(0, 0, 0, 0);
                    border: 1px solid rgb(134, 134, 134);
                    &::placeholder {
                        text-align: right;
                    }
                }

                &#fielset-sing > legend {
                    text-align: center;
                    margin-bottom: 10%;
                }
                
                &#fielset-sing > legend > p {
                    margin-top: 13%;
                    font: bolder 2rem var(--fontmain);
                }

                & .simsim {
                    position: absolute;
                    left: 70%;
                    padding: 20px;
                    font: bolder 1rem 'Open Sans';
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.133);
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.193);
                    color: white;
                    background-color: var(--colorbutton);
                    border: none;
                    &:hover {
                        cursor: pointer;
                        background-color: var(--colorhover);
                    }
                }

            }
        }
    }
}
