h1 {
    font-size: 30px;
}

div {
    height: 200px;
    width: 200px;
    background-color: black;
    margin: auto;
}

img {
    width: 30%;
    height: auto;
    display: block;
    margin: auto;
}
.icon {
    width: 1.5%;
    height: auto;
}

p {
	background: #ae3f3f;
	display: inline;
}