@charset "UTF-8";

body {
    background-image: url(../images/cev-landscape.jpg);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}


h1 {
    color: pink;
}