@charset "UTF-8";

body {
    background-image: url(../images/cev-portrait.jpg);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}

h1 {
    color: white;
}