@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
}

body {
    width: 100vw;
    height: 100vh;


    img {
        width: 100%;
        height: auto;
        display: block;
    }

    button {
        width: 100%;
        height: 50px;
        background-color: rgb(130, 0, 0);
        border-style: none;
        &:hover {
            background-color: rgb(255, 0, 0);
        }
    }

    button a {
        text-decoration: none;
        color: white;
    }
}