@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-image: url(imagens/back-phone.jpg);
    background-size: cover;
    background-position: 60% center;
}

main {
    position: relative;
    margin-top: 4%;
    height: 75%;
    width: 92%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.465);

    h1 {
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.396);
        text-align: left;
        padding: 10px;
        &::after {
            content: 'versão mobile';
            font-size: 3rem;
            color: black;
            background-image: linear-gradient(rgba(255, 255, 255, 0) 20%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 90%, rgba(255, 255, 255, 0) 90%);
        }
    }

    span {
        background-image: linear-gradient(rgba(255, 255, 255, 0) 25%, black 25%, black 80%, rgba(255, 255, 255, 0) 80%);
    }

    picture {
        left: 50%;
        transform: translate(-50%, 0%);
        position: absolute;
    }
    
    & #desktop-text {
        display: none;
    }
}

