body {
    width: 100dvw;
    height: 100dvh;
    background-image: var(--gradient);
    background-attachment: fixed;
}

main {

    article {
        max-width: 900px;
        height: 500px;

        form {
            
            & #image-form {
                width: 40%;
                border-radius: 30px 0px 0px 30px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center right;
                background-image: url('https://professorguanabara.github.io/projeto-login/imagens/metal.jpg');
            }

            fieldset {
                right: 0px;
                width: 60%;
                border-radius: 0px 30px 30px 0px;

                legend {
                    float: left;
                    margin-top: 50px;
                    margin-bottom: 25px;

                }
                
                & .input-type > input {
                    width: 80%;
                }
                
                & #forgot-password {
                    left: 64%;
                }

                & .button-anchor:active {
                    background-color: #2e7a77;
                }

                & .button-submit:active {
                    background-color: #2e7a77;
                }

                & input:focus {
                    background-color: white;
                }
            }
        }
    }
}
