body {
    width: 100dvw;
    height: 100dvh;
    background-image: var(--gradient);
    background-attachment: fixed;
}

main {
    position: relative;
    width: 100%;
    height: 100%;

    article {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 700px;
        transform: translate(-50%, -50%);

        form {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

            & #image-form {
                width: 100%;
                height: 40%;
                border-radius: 30px 30px 0px 0px;
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center right;
                background-image: url('https://professorguanabara.github.io/projeto-login/imagens/metal.jpg');
            }

            fieldset {
                width: 100%;
                height: 60%;
                border-radius: 0px 0px 30px 30px;
                background-color: white;

                legend {
                    display: inline-block;
                    width: 100%;
                    float: left;
                    margin-top: 25px;
                    text-align: center;
                    margin-bottom: 25px;
                    font-weight: bolder;
                    font-size: min(10vw, 2.3rem);
                }

                p {
                    padding: 15px;
                    font-size: 0.90rem;
                    line-height: 1.1rem;
                }

                & .button-input {
                    position: relative;
                    width: 90%;
                    height: 40px;
                    margin: 0 auto;
                    margin-bottom: 5px;
                    border-radius: 10px;
                    background-color: #5D2B7F;
                }
                
                & .button-input > button, a {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: transparent;
                    color: white;
                }
                
                & .button-submit {
                    font-size: 1.1rem;
                    background-color: #53AAA7;
                }

                & .button-anchor {
                    color: black;
                    border: 1px solid #53AAA7;
                    background-color: white;
                }
                
                & .button-anchor > a {
                    color: black;
                    text-decoration: none;
                }

                & .input-type > span {
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translate(0, -50%);
                    font-size: min(10vw, 2.3rem);
                    color: white;
                }

                & .input-type > input {
                    position: absolute;
                    width: 80%;
                    border-radius: 10px;
                    margin-right: 4px;
                    margin-bottom: 2px;
                    padding: 10px;
                    border: none;
                    bottom: 0;
                    right: 0;
                    background-color: #94CFCD;
                }
                
                & #forgot-password {
                    position: absolute;
                    top: 50%;
                    left: 75%;
                    transform: translate(0%, -50%);
                    font-size: 1rem;
                    color: #6e9c9b;
                }

                & .button-anchor:active {
                    background-color: #2e7a77;
                }

                & .button-submit:active {
                    background-color: #2e7a77;
                }

                & input:focus {
                    background-color: white;
                }
            }
        }
    }
}

@media screen and (min-width: 675px) {
    main {
        position: relative;
        width: 100%;
        height: 100%;

        article {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 680px;
            height: 700px;
            transform: translate(-50%, -50%);

            form {
                width: 100%;
                height: 100%;
                border-radius: 30px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

                & #image-form {
                    width: 100%;
                    height: 40%;
                    border-radius: 30px 30px 0px 0px;
                    background-size: 120%;
                    background-repeat: no-repeat;
                    background-position: center left;
                    background-image: url('https://professorguanabara.github.io/projeto-login/imagens/metal.jpg');
                }

                fieldset {
                    width: 100%;
                    height: 60%;
                    border-radius: 0px 0px 30px 30px;
                    background-color: white;

                    legend {
                        display: inline-block;
                        width: 100%;
                        float: left;
                        margin-top: 25px;
                        text-align: center;
                        margin-bottom: 25px;
                        font-weight: bolder;
                        font-size: min(10vw, 2.3rem);
                    }

                    p {
                        padding: 15px 30px;
                        font-size: 0.90rem;
                        line-height: 1.1rem;
                    }

                    & .button-input {
                        position: relative;
                        width: 90%;
                        height: 60px;
                        margin: 0 auto;
                        margin-bottom: 5px;
                        border-radius: 10px;
                        background-color: #5D2B7F;
                    }
                    
                    & .button-input > a {
                        color: rgb(0, 0, 0);
                    }
                    
                    & .button-submit {
                        font-size: 1.1rem;
                        background-color: #53AAA7;
                    }

                    & .button-anchor {
                        color: black;
                        border: 1px solid #53AAA7;
                        background-color: white;
                    }
                    

                    & .input-type > input {
                        position: absolute;
                        border-radius: 10px;
                        margin-right: 3px;
                        padding: 20px;
                    }
                    
                    & #forgot-password {
                        position: absolute;
                        top: 50%;
                        left: 61%;
                        transform: translate(0%, -50%);
                    }

                    & .button-anchor:active {
                        background-color: #2e7a77;
                    }

                    & .button-submit:active {
                        background-color: #2e7a77;
                    }

                    & input:focus {
                        background-color: white;
                    }
                }
            }
        }
    }
}
