@charset "UTF-8";
@import url(../style-main.css) layer(antigo-1);
@import url(../styles/style-step-one.css) layer(antigo-2);
@layer novo-3 {
    button {
        position: none;
        left: 0;
        transform: none;
    }
}
& .step-sec {
    position: relative;
    max-width: 95vw;
    left: 50%;
    transform: translate(-50%);
    aspect-ratio: 12/1;

    & #line-step-progression {
        background-image: linear-gradient(to right, var(--colorgreen) 100%, white 0%);
    }
    
    & #line-step {

        & .div-step {
            
            & .number-step {
                font: bolder 1.5rem var(--fontmain);
            }

            &.um {
                background-color: var(--colorgreen);
                color: white;
            }

            &.dois {
                background-color: var(--colorgreen);
                color: white;
            }

            &.tres {
                background-color: var(--colorgreen);
                color: white;
            }
        }
    }
}

