* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    height: 100vh;
}

div#menu-right {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 100px;

    ul {
        list-style: none;
    }

    li {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    li > a > img {
        width: 70px;
        border-radius: 100%;
        box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
    }

    li > a > img {
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.3);
            border: 1px solid rgb(255, 255, 255);
        }
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

div#iphone-iframe {
    position: relative;
    height: 100vh;
}

div#iphone-iframe > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

div#tela-celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    height: 480px;
    width: 270px;
}

iframe {
    height: 100%;
    width: 100%;
    border-style: none;
}
