@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 0.9rem;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color:rgb(225, 225, 225);
}

header {
    position: relative;
    width: 100%;
    height: 15%;
    background-color: rgb(132, 132, 132);
    
    h1 {
        text-align: center;
        font-size: clamp(1.3rem, 10vw, 3rem);
        padding-top: 10px;
    }

    nav {
        position: absolute;
        bottom: 0;
    }

    nav > ul > li {
        display: inline-block;
        background-color: rgb(69, 69, 69);
        padding: 3vw;
        margin-right: 2px;
    }

    nav > ul > li > a {
        text-decoration: none;
        color: white;
    }
}

main {
    position: relative;
    width: 100%;

    section {
        position: absolute;
        width: 90%;
        max-width: 900px;
        max-height: 600px;
        padding: 5px;
        margin-top: 10px;
        border-radius: 10px;
        background-color: white;
        left: 50%;
        transform: translate(-50%);

        h1 {
            font-size: clamp(1.5rem, 5vw, 7vw);
            margin-bottom: 10px;
        }
        
        p {
            font-size: 1rem;
        }
    }
}

