body {
    background-color:rgb(212, 212, 212);
}

.menu-bar{
    background-color: rgba(255, 255, 255, 0.765);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.083);
}

.menu-icons {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 95%;
    margin: -70px 0px 0px 0px;
    
}

.icon {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.icon img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}


.icon button {
    border: none;
    background: transparent;
    height: 100%;
    cursor: pointer;
}

.icon button:nth-child(1) {
    border-bottom: 3px solid rgba(0, 0, 0, 0.467);
}


.text {
    font-size: 80%;
    margin: -29px 0px -30px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.72);
}

iframe {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    border: none;
}