* {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
}

h1, p, a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > p {
    padding-bottom: 50px;
}

h1 {
    font-family: 'passion one', serif;
    font-size: 11vw;
    padding-top: 50px;
    word-break: normal;
}

a {
    font-weight: bold;
}

section {
    width: 100vw;
    height: 100vh;
    padding: 10vh 0px 10vh 30px;
    font-size: 3.5rem;
}

section > pre {
    font-family: 'Sriracha', serif;
    display: inline-block;
    margin: 30px 0px 50px 30px;
    padding: 20px 10px 20px 10px
}

.texto {
    color: white;
    background-color: rgba(0, 0, 0, 0.25);

}

#image1 {
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}

footer {
    background-color: black;
    padding: 10px;
}