* {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
}

h1, p, a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > p {
    padding-bottom: 50px;
}

h1 {
    font-family: 'passion one', serif;
    font-size: 11vw;
    padding-top: 50px;
    word-break: normal;
}

a {
    font-weight: bold;
}

section {

}

#image1 {
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}



footer {
    background-color: black;
    padding: 10px;
}