* {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
}

h1, p, a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > p {
    padding-bottom: 50px;
}

h1 {
    font-family: 'passion one', serif;
    font-size: 9vw;
    padding-top: 50px;
    word-break: normal;
}

a {
    font-weight: bold;
}

span {
    font-size: 12vw;
}

section {
    padding-top: 10%;
    padding-bottom: 15%;
}

section > pre {
    font-family: 'Sriracha', sans-serif;
    font-size: 3.5vw;
    margin-top: 5%;
    margin-left: 20px;
}

#image1 {
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-size: auto;
    display: flex;
    align-items: center;
    background-position-x: 75%;
    background-position-y: 75%;
}

#image2 {
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-size: auto;
    display: flex;
    align-items: center;
    background-position-x: 50%;
    background-position-y: 100%;

}

.texto {
    color: white;
    background-color: rgb(0,0,0,0.25);
    display: inline;
    margin-top: 0%;
}

footer {
    background-color: black;
    padding: 10px;
}