body {
    background-color:antiquewhite;
}

#cm {
    height: 5cm;
    width: 5cm;
    background-color: red;
}

#in {
    height: 5in;
    width: 5in;
    background-color: black;
}

#mm {
    height: 5mm;
    width: 5mm;
    background-color: blue;
}

#px {
    height: 5px;
    width: 5px;
    background-color: violet;
}

#pt {
    height: 5pt;
    width: 5pt;
    background-color: orange;
}

#pc {
    height: 5pc;
    width: 5pc;
    background-color: pink;   
}

section {
    height: 100px;
    width: 100px;
}

#por {
    height: 50%;
    width: 50%;
    background-color: black;
}

#ex {
    height: 50ex;
    width: 50ex;
    background-color: red;
}

#em {
    height: 50em;
    width: 50em;
    background-color: blue;
}

#rem {
    height: 50rem;
    width: 50rem;
    background-color: #ffa3f1;
}

#vh {
    height: 50vh;
    width: 50vh;
    background-color: pink;
}

#vw {
    height: 50vw;
    width: 50vw;
    background-color: orange;
}