@charset "UTF-8";

body {
    width: 100vw;
    height: 100dvh;
    background-image: linear-gradient(to bottom left,#1a1029, #060611);
}

main {
    position: relative;
    left: 50%;
    top: 50%;
    height: 567px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.445);
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom left,#4EC3C9, #4339A0);

    section {
        width: 100%;
        aspect-ratio: 2/1;

        div.container-content {
            position: relative;
            width: 50%;
            aspect-ratio: 1.5/1;
        }
        
        div.hundred {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, 50%);
        }

        div.text {
            position: relative;
            left: 50%;
            transform: translate(-50%);
        }
    }

}