@charset "UTF-8";

body {
    width: 100dvw;
    height: 100dvh;
}

main {
    position: relative;
    width: 100%;
    height: 100%;

    section {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 500px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        transform: translate(-50%, -50%);
        background-color: #272C34;

        & #container-div {
            transform: translate(50%, 50%);
            width: 50%;
            height: 50%;
        }
    }
}
