@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    section {
        width: 35vw;
        aspect-ratio: 3/1.4;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        box-shadow: var(--shadow);
        background-color: white;

        header > h1 {
            margin-top: 25px;
            text-align: center;
            font: bolder 2rem 'Open Sans';
        }
        
        p {
            margin-top: 50px;
            text-wrap: balance;
            text-align: center;
        }

        button {
            position: relative;
            left: 50%;
            transform: translate(-50%);
            margin-top: 50px;
            padding: 20px;
            width: 200px;
            font: bolder 1rem 'Open Sans';
            color: white;
            border: none;
            background-color: var(--colorbutton);
            &:hover {
                background-color: var(--colorhover);
                cursor: pointer;
            }

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}