@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --colorbutton: #43d0ff;
    --colorhover: #0b9dff;
    --colorredes: #ffba0b;
    --colorredeshover: #ff750b;
    --shadow: 5px 5px 10px rgba(0, 0, 0, 0.070);
    --fontmain: 'Open Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: var(--fontmain);
    background-image: linear-gradient(to left, #4FB339, #4B90F7);
}

div {
    &#design-background {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -10;
    }
    
    & .bubble {
        opacity: 0.1;
    }
    
    & .um {
        position: absolute;
        top: 30%;
        left: 500px;
        width: 1000px;
        height: 800PX;
        border-radius: 100%;
        background-color: white;
    }

    & .dois {
        position: absolute;
        bottom: 60%;
        left: -500px;
        top: 100px;
        width: 1300px;
        height: 1000PX;
        border-radius: 100%;
        background-color: rgb(57, 57, 57);
    }

    & .tres {
        position: absolute;
        bottom: 60%;
        left: 1000px;
        top: -200px;
        width: 1300px;
        height: 1000PX;
        border-radius: 100%;
        background-color: rgb(111, 111, 111);
    }

    & .quatro {
        position: absolute;
        bottom: 40%;
        left: -200px;
        top: -300px;
        width: 1300px;
        height: 1000PX;
        border-radius: 100%;
        background-color: rgb(255, 255, 255);
    }
}