@charset "UTF-8";

* {
    font-size: 1rem;
}

main {
    header {
        
        nav > ul > li {
            padding: 50px;
        }
    }

    section {
        width: 95%;
        aspect-ratio: auto;
        padding: 10px;
        margin-top: 20px;
        border-radius: 10px;
        background-color: white;

        h2 {
            font-size: min(5vw, 1.8rem);
            margin-bottom: 5px;
        }
    }

}