@charset "UTF-8";

* {
    font-size: 1rem;
}

header {
    position: relative;
    width: 100%;
    height: 15%;
    background-color: rgb(132, 132, 132);

    h1 {
        font-size: clamp(2.5rem, 6vw, 4rem);
    }

    nav > ul > li {
        padding: 10px;
        margin-right: 2px;
    }

    nav > ul > li > a {
        text-decoration: none;
        color: white;
    }
}

main {

    section {
        width: 95%;
        aspect-ratio: auto;
        padding: 10px;
        margin-top: 20px;
        border-radius: 10px;
        background-color: white;

        p {
            font-size: min(3vw, 1.2rem);
        }
    }

}

