@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    body {
        background-image: url(imagens/fundo-madeira.jpg);
        background-size: cover;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    main {
        height: 100%;
        width: auto;
    }

}

section.menu {
    position: relative;
    margin-top: 30px;
    margin-right: 30px;

    nav {
        position: absolute;
        right: 0;
        z-index: 1;
    }
    
    ul {
        list-style: none;
    }

    li {
        margin-bottom: 30px;
    }

    &.menu img {
        width: 75px;
        height: auto;
        border-radius: 50%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.594);
        transition: transform 0.3s, border;
        &:hover {
            transform: scale(1.3);
            border: 2px solid rgba(255, 255, 255, 0.805);
        }
    }
}

section.iframe {
    position: relative;
    width: 100%;
    height: 100%;

    & #iframe-tela {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    iframe {
        position: absolute;
        top: 80px;
        left: 20px;
        height: 470px;
        width: 270px;
    }
}